# Folders
build/
assets/

# Editor files
.vscode
.cache

# File extensions
*.o
*.a
*.log
*.cor
*.s

# Binaries
corewar

# Whatever these are
.idea
compile_commands.json
.DS_Store
bonus.txt
choices.txt
questions.txt
