# Folders
build/
assets/

# Editor files
.vscode
.cache

# File extensions
*.o
*.a
*.log
*.cor
*.s
*.data
massif*

# Binaries
corewar

# Whatever these are
.idea
compile_commands.json
.DS_Store
bonus.txt
choices.txt
questions.txt
dump_cycle_*



# flex


*.d

*.o
*.ko
*.obj
*.elf
*~

*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su
*.idb
*.pdb

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

dist/
bin/
obj/
.dirstamp/

*.log
*.sql
*.sqlite

.env
*.env

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

autom4te.cache/
aclocal.m4
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

*.~
*.bak
*.patch
*.diff
*.orig
*.rej
*.DS_Store
Thumbs.db
